.hdr-topline {

  font-size: .8em;
  align-items: center;
  position: relative;
  z-index: 2;
  min-height: 46px;
  background-color: #414c55;
}

.bestseller {
  margin: 50px 0;
  text-align: center;

}


.baner-img{
  margin-top: 50px;
  margin-bottom: 30px;
}



.baner-img .col-md-3 {
  
  position: relative;
  overflow: hidden;
}

.banerB-img .col-md-6 {
  margin: 20px 0;
  position: relative;
  overflow: hidden;
}

.banerB-img .col-md-6 img {
  transition: transform 0.3s ease-in-out;
  max-width: 100%;
  max-height: 100%;
}

.banerB-img .col-md-6:hover img {
  transform: scale(1.2);

}

.baner-img .col-md-3 img {
  transition: transform 0.3s ease-in-out;
  max-width: 100%;
  max-height: 100%;
}

.baner-img .col-md-3:hover img {
  transform: scale(1.1);
}

.baner-img .bnr-caption {
  position: absolute;
  padding: 0 30px;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
}

.banerB-img .picterA {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
}

/* bannerC */

.banerC-img .col-md-6:hover .img-fluid,
.banerC-img .col-md-6:hover .btn--showmore {
  transform: scale(1.1);
  background: #314251;
  color: #fff;
}

.banerC-img .col-md-6 {
  position: relative;
  overflow: hidden;
  margin: 40px 0;

}

.banerC-img .col-md-6 .picterB {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;

}

/* bannerC cot trai */
.box {

  width: 50px;
  height: 50px;
}

.boxa {

  width: 50px;
  height: 50px;
}

.boxb {

  width: 50px;
  height: 50px;
}

.banerC-img .col-md-6 .box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;

}

.banerC-img .col-md-6 .boxa {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  border: 2px solid black;

}

.banerC-img .col-md-6 .boxb {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  border: 2px solid black;

}


.btn--showmore {
  border: 1px solid #314251;
  padding: 10px 60px;
  margin: 30px;
}

.btn--showmore:hover {
  background: #314251;
  color: #fff;
}

.main-slider {
  position: relative;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text p {
  font-size: 24px;
}

.text .fashion {
  color: #314251;
  font-size: 3em;
}

.shopnow {
  font-size: 18px;
  border: 1px solid black;
  padding-left: 50px;
  padding-right: 50px;
  color: #314251;
}

.shopnow:hover {
  background: #314251;
  color: white;

}

.Subscribe {
  padding-top: 30px;
  padding-bottom: 20px;
}

.Subscribe-group {
  position: relative;
  display: flex;

  max-width: 400px;
  margin: 0 auto;
}

.btn--subscribe:hover {
  background: #314251;
  color: #fff;
}

.btn--subscribe {
  border: #314251 1px solid;
}

.name {
  text-decoration: none;
  color: black;
}

.footer-botom .container .row {



  align-items: center;


}

.footer-nav-warp {
  justify-content: space-between;
}

/* swiper */
.swiper-container {

  position: relative;
  overflow: hidden;
}

.nav-link {
  text-decoration: none;
  color: #314251;
}

.nav-link:hover {
  color: #414c55;
  opacity: .5;
}



.swiper-slide {
  width: 170px;
  height: 120px;

  background-position: center;
  margin-right: 10px;
}

.slide-item {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.slide-item-2 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.slide-item-2:hover {
  transform: scale(1.1);
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
}

.swiper-container:hover .swiper-button-next,
.swiper-container:hover .swiper-button-prev {
  display: block;
}

.linkimg {
  text-decoration: none;
  color: #41515f;
}

.linkimg:hover {
  opacity: .5;
}



.chia4{
  margin-bottom: 50px;
}
.chia4 .col-6 {
  position: relative;
  overflow: hidden;
}

.chia4 .col-6 .large-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

.chia4 .col-6:hover .large-image {
  opacity: 1;
}

.chia2 {
  margin: 40px 0;
}

.chia2 .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.classA {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.zoomable-img {
  transition: transform 0.3s ease;
}

.zoomable-img:hover {
  transform: scale(1.1);
  cursor: zoom-in;
}

.hidden-overflow {
  overflow: hidden !important;
}

.star-op {
  opacity: .5;
}

.a {
  width: 300px;
  position: relative;
  overflow: hidden;
}
.a img {
  width: 100%;
}
.view-top {
  background: #fff;
  position: absolute;
  height: 100%;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 1s;
}
.a:hover .view-top {
  top: 0;
}
.btn-txt:hover{
background: #314251;
}

/* CSS cho nút scroll top */
.scroll-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: black;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  z-index: 999;
}

@media (max-width: 768px) {
  .text {
    width: 80%;
    max-width: 400px;
  }

  .text p {
    font-size: 20px;
  }

  .avd {
    display: none;
  }

  .shopnow {
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .content-item {
    flex-direction: column;
    text-align: center;
  }

  .bnr-caption {
    position: static;
    transform: none;
    margin-top: 10px;
  }

  .baner-img .col-md-3 {
    width: 100%;
    margin-bottom: 15px;
  }

  .swiper-container {
    height: 200px;
  }
}

@media (max-width: 425px) {
  .text {
    width: 90%;
    max-width: 300px;
  }

  .avd {
    display: none;
  }

  .text p {
    font-size: 18px;
  }

  .shopnow {
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .swiper-container {
    height: 100px;
  }

}





/* Menu Style */
.header-menu-wrap ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-menu-wrap ul li {
  display: inline-block;
  position: relative;
}

.header-menu-wrap ul li>a {
  display: block;
  font-family: "Jost", sans-serif;
  font-size: 15px;
  letter-spacing: -0.5px;
  font-weight: 600;
  text-transform: capitalize;
  color: #333;
  padding: 0 15px;
  height: 90px;
  line-height: 90px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

.header.dark-text .header-menu-wrap ul li>a {
  color: #0e1318;
}

.header-menu-wrap ul li:hover>a {
  color: #314251;
  opacity: .8;

}

.header-menu-wrap li ul {
  background-color: #fff;
  display: block;
  width: 220px;
  padding: 0;
  -webkit-box-shadow: 0px 50px 100px 0px rgba(64, 1, 4, 0.1), 0px -6px 0px 0px rgba(248, 99, 107, 0.004);
  box-shadow: 0px 50px 100px 0px rgba(64, 1, 4, 0.1), 0px -6px 0px 0px rgba(248, 99, 107, 0.004);
  position: absolute;
  left: -35px;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  -webkit-transition: opacity .5s ease, visibility .5s ease;
  -o-transition: opacity .5s ease, visibility .5s ease;
  transition: opacity .5s ease, visibility .5s ease;
}

.header-menu-wrap li:hover>ul {
  opacity: 1;
  visibility: visible;
  z-index: 99;
}

.header-menu-wrap li li {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #eee;
  text-align: left;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.header-menu-wrap li li>a {
  font-family: "Jost", sans-serif;
  display: block;
  height: auto;
  line-height: inherit;
  color: #1e1318;
  font-weight: 500;
  font-size: 13px;
  line-height: 45px;
  letter-spacing: 0;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

.header-menu-wrap li li:hover {
  background-color: #314251;
}

.header-menu-wrap li li:hover>a {
  color: #fff;
}

.header.dark-text .header-menu-wrap li li:hover>a {
  color: #fff;
}

.header-menu-wrap li ul li ul {
  width: 220px;
  position: absolute;
  left: 100%;
  top: 0;
}



.primary-header-inner .header-right {
  display: flex;
  align-items: center;
  line-height: 80px;
  margin-left: 20px;
}

.header-right .mobile-menu-icon {
  margin-left: 20px;
}

.header-right a.header-btn {
  display: inline-block;
  background: #5fbd74;
  color: #FFF;
  font-family: 'Jost', sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
  height: 45px;
  line-height: 45px;
  padding: 0 35px;
  letter-spacing: 0;
  border-radius: 0;
  overflow: hidden;
  position: relative;
  margin-left: 20px;
  transition: all ease 700ms;
  -moz-transition: all ease 700ms;
  -webkit-transition: all ease 700ms;
  -ms-transition: all ease 700ms;
  -o-transition: all ease 700ms;
  z-index: 1;
}

.header-right a.header-btn:hover {
  color: #fff;
}

.header.dark-text .header-right .search-icon {
  color: #0e1318;
}

.header-right .search-icon:hover {
  opacity: 0.8;
}

.primary-header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.primary-header .header-logo {
  max-width: 114px;
}

.viewport-lg .primary-header .header-menu-wrap {
  display: block !important;
}
.text{
  margin-top: 50px;
  margin-bottom: 20px;
}



